@{
    ViewData["Title"] = "Contact Us";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h1>
    Contact Us</h1>
    <p>
We're here to help and answer any question you might have. We look forward to hearing from you. Please select the appropriate contact method below for your inquiry.
</p>
<h4>
    General Inquiries
</h4> <p>
    For any general questions about our platform, how it works, or the artisans we feature, please email us at: <a style="color: blue;" href="mailto:info@khumalocraftemporium.com">info@khumalocraftemporium.com.</a>
</p>
<h4>
    Customer Support
</h4><p>
    Need assistance with an order, have questions about shipping, or experiencing an issue? Our customer support team is ready to assist you. Email us at <a style="color: blue;" href="mailto:support@khumalocraftemporium.com">support@khumalocraftemporium.com.</a> or fill out our support form.
</p>
<h4>
    Artisan Partnership
</h4><p>
    If you're an artisan interested in showcasing your work on KhumaloCraft Emporium, we'd love to hear from you. Learn more about our partnership opportunities by sending an inquiry to <a style="color: blue;" href="mailto:talentsearch@khumalocraftemporium.com">talentsearch@khumalocraftemporium.com.</a>
</p>
<h4>
    Media
</h4><p>
For press and media inquiries, please contact our media team at media@khumalocraft.com.
</p>

<h4>
Feedback</h4><p>
Your feedback is invaluable to us. Share your shopping experience, suggestions, or any site issues you've encountered. Email us at feedback@khumalocraft.com.
</p>
<h4>
    Social Media
</h4>
<p>

Follow us on our social channels to stay updated on the latest artisan features, product releases, and more.
<br />
    Facebook: <a style="color: blue;" href="https://www.facebook.com" target="_blank">KhumaloCraftEmporium_SA</a><br>
    Instagram: <a style="color: blue;" href="https://www.instagram.com" target="_blank">KhumaloCraft_SA_INT</a><br>
    Twitter: <a style="color: blue;" href="https://twitter.com" target="_blank">KhumaloCraft_SA_Global</a>
</p>
<h6>
    Office Address:
</h6>
<p>

2 Discovery Pl,<br />
Sandhurst, Sandton<br>
South Africa<br />
2196
    <h6>
        Contact Details:
    </h6>
<p>
    <span>&#x260E;</span> Telephone: <a style="color: blue;" href="tel:+27861555181"> (+27) 861-555-181</a><br>
    <span>&#x1F4E0;</span>Fax:  <a style ="color: blue;" href="fax:+0987654321"> +098-765-4321</a><br>
    <span>&#9993;</span>Email: <a style="color: blue;" href="mailto:inquiries@example.com"> inquiries@example.com</a>
</p>
<p>
We strive to respond to all inquiries within 24-48 hours. Thank you for your patience and interest in KhumaloCraft Emporium.
</p>
